POSTGRES_DB=nome_do_banco
POSTGRES_USER=usuario_do_banco
POSTGRES_PASSWORD=senha_do_banco
POSTGRES_PORT=5434

DB_URL=jdbc:postgresql://localhost:5434/nome_do_banco
DB_USERNAME=usuario_do_banco
DB_PASSWORD=senha_do_banco

JPA_DDL_AUTO=update
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=false